<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{{ asset("bundles/lilwebjob/css/style.css") }}" rel="stylesheet">

    <script type="text/javascript" src="{{ asset("bundles/lilwebjob/js/jquery-2.0.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/lilwebjob/js/underscore-1.4.4.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/lilwebjob/js/backbone-1.0.0.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/lilwebjob/js/moment.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/lilwebjob/js/moment-fr.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/lilwebjob/js/app.js") }}"></script>
</head>
<body>

    <div id="container">

        <div class="nextDay">
            <a href="#" title="Charger la journée suivante">+</a>
        </div>
    </div>

    <!-- Template pour une journee -->
    <script id="dayTemplate" type="text/template">
        <div class="day" id="<%= cid %>">
            <div class="date">
                <span class="day"><%= moment(date).format("DD") %></span>
                <br />
                <span class="month"><%= moment(date).format("MMM") %></span>
            </div>

            <div class="jobsList">
                <ul class="jobs">
                </ul>
            </div>
        </div>
    </script>

    <!-- Template du job -->
    <script id="jobTemplate" type="text/template">
        <small><%= moment.unix(dateCreation).format("H:mm") %> -</small>

        <div class="actions">
            <a href="#"><i class="icon-repeat"></i></a>
            <a href="#"><i class="icon-remove"></i></a>
        </div>

        <% if (status == 1) { %>
            <div class="infos running" data-id="<%= id %>">
        <% } else if (status == 2) { %>
            <div class="infos success" data-id="<%= id %>">
        <% } else if (status == 3) { %>
            <div class="infos error" data-id="<%= id %>">
        <% } else { %>
            <div class="infos" data-id="<%= id %>">
        <% } %>
            <span><%= name %></span>

            <div class="params">
                <ul>
                    <li>FRS</li>
                    <li>1002</li>
                    <li>31</li>
                </ul>
            </div>
        </div>
    </script>

    <script id="jobTemplateEmpty" type="text/template">
        <span>Aucun job pour ce jour...</span>
    </script>

    <!-- Template des task -->
    <script id="tasksTemplate" type="text/template">
        <ul id="tasks-<%= id %>" class="tasks"></ul>
    </script>

    <!-- Template d'une seule tache -->
    <script id="taskTemplate" type="text/template">
        <small><%= moment.unix(dateCreation).format("H:mm") %> - </small>

        <div class="actions">
            <a href="#"><i class="icon-repeat"></i></a>
            <a href="#"><i class="icon-level-down"></i></a>
        </div>

        <% if (status == 1) { %>
            <div class="infos running">
        <% } else if (status == 2) { %>
            <div class="infos success">
        <% } else if (status == 3) { %>
            <div class="infos error">
        <% } else { %>
            <div class="infos">
        <% } %>
            <div class="params">
                <a href="#">
                    <i class="icon-warning-sign"></i>
                </a>
            </div>

            <span><%= name %></span>
        </div>

    </script>

</body>
</html>